.product-container{
    width: 60%;
    height:50vh;
    border: 1px solid rgb(244, 222, 56);
    display: flex;
    position: absolute;
    top: 25vh;
    left: 20%;
}
.left-sec{
    background-color: rgb(24, 23, 21);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    align-items: center;
    color: white;
}
.left-sec button{
    all: unset;
    cursor: pointer;
}x
.right-sec{
    width: 75%;
}
.right-sec ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right-sec ul li:hover{
    cursor: pointer;
    color: rgb(3, 3, 151);
}
